.input,
.textArea {
	padding: 4px 6px;
	background-color: transparent;
	border: none;
	outline: 1px solid var(--soft-blue);
	transition: all var(--transition-fast);
	border-radius: var(--border-radius-sm);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-sm);
}

.textArea {
	min-height: 64px;
	max-height: 128px;
	resize: vertical;
}

.input:focus,
.textArea:focus {
	outline-color: var(--soft-blue-active);
}
