.main {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.main section {
	width: 100%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 8px;
}

.main section h2 {
	text-align: center;
}

.main section p {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-sm);
}

.main section p span {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-lg);
}

.link {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-md);
	border-radius: var(--border-radius-md);
	padding: 4px 8px;
	background-color: var(--soft-blue);
	transition: all var(--transition-fast);
}
.link:hover {
	background-color: var(--soft-blue-hover);
}
.link:active {
	background-color: var(--soft-blue-active);
}
