.chip {
	width: fit-content;
	border-radius: var(--border-radius-lg);
	display: flex;
	gap: 8px;
	padding: 8px 10px;
	background-color: var(--sky-blue);
}

.chipList {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
