:root {
	--max-width: 1024px;

	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
		'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

	--dark-blue: hsl(213, 100%, 5%);
	--soft-blue: hsl(200.14deg 100% 30%);
	--soft-blue-hover: hsl(200.14deg 100% 40%);
	--soft-blue-active: hsl(200.14deg 100% 50%);
	--sky-blue: hsl(200, 68%, 31%);
	--aqua-green: hsl(180, 85%, 92%);
	--error-red: hsl(0, 75%, 50%);

	--border-radius-sm: 4px;
	--border-radius-md: 8px;
	--border-radius-lg: 12px;

	--border-width-sm: 1px;
	--border-width-md: 2px;
	--border-width-lg: 3px;

	--font-size-xs: clamp(12px, 2.5vw, 14px);
	--font-size-sm: clamp(14px, 3vw, 16px);
	--font-size-md: clamp(16px, 4vw, 20px);
	--font-size-lg: clamp(20px, 5vw, 28px);
	--font-size-xl: clamp(28px, 7vw, 40px);

	--font-weight-sm: 400;
	--font-weight-md: 600;
	--font-weight-lg: 800;

	--transition-fast: 75ms;
	--transition-normal: 150ms;
	--transition-slow: 300ms;
	--transition-very-slow: 500ms;
}

/* Normalize */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input,
button,
textarea,
select {
	font: inherit;
}
body {
	margin: 0 auto;
	max-width: var(--max-width);
	min-height: 100dvh;
	line-height: 1.5;
	color: var(--aqua-green);
	background-color: var(--dark-blue);
}
img,
video,
svg {
	height: auto;
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
li {
	list-style: none;
}
p {
	text-wrap: pretty;
	font-size: var(--font-size-md);
}
a {
	text-decoration: none;
	color: inherit;
}

main {
	padding: 32px 24px;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@media (width >= 768px) {
	main {
		padding: 32px;
	}
}
